@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@500;700&display=swap');
body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Akshar', sans-serif;
}

section {
    position: relative;
}

.main_section {
    height: 95vh;
}

.code_section {
    padding-bottom: 200px;
    padding-top: 10vw;
}

.more_section {
    padding-top: 10vw;
}

h2 {
    padding: 0;
    text-align: center;
    font-size: 8vw;
}

.code_container {
    overflow: scroll;
    background-color: rgb(70, 70, 70);
    border-radius: 30px;
    display: block;
    max-width: 80vw;
    margin: 75px auto 0 auto;
}

pre {
    margin-left: 3vw;
    font-size: 15px;
}

.code:nth-of-type(1) {
    color: yellow;
}

.code:nth-of-type(2) {
    color: cyan;
}

.code:nth-of-type(3) {
    color: slateblue;
}

.code:nth-of-type(4) {
    color: orange;
}

.comment {
    color: red;
}

:link {
    color: #5966f4;
}

:visited {
    color: #5966f4;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: #04090edb;
    border: solid #ffffff 2px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.card_box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding-bottom: 175px;
}

.card h5 {
    font-size: 23px;
    display: inline;
    color: #5966f4;
    background-clip: text;
}

.card p {
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

@media (max-width: 800px) {
    .card_box {
        flex-wrap: wrap;
    }
    .card:hover {
        transform: scale(1);
        transition: 0.4s;
    }
}

.content {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: inline;
    font-size: 10vw;
}

form {
    display: inline;
}

#FormOutput {
    background-color: transparent;
    border: 0.8vw solid black;
    border-radius: 10px;
    width: 15vw;
    height: 9vw;
    font-size: 10vw;
    font-family: 'Akshar', sans-serif;
    margin-left: 3vw;
}

#FormOutput:focus {
    outline: none;
    overflow: hidden;
}

#FormOutput::-webkit-inner-spin-button,
#FormOutput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.screen {
    text-align: center;
    font-size: 2vw;
}

@media (max-width: 800px) {
    h1 {
        font-size: 15vw;
    }
    .screen {
        font-size: 6vw;
    }
    #FormOutput {
        border: 2vw solid black;
        border-radius: 20px;
        width: 30vw;
        height: 18vw;
        font-size: 20vw;
        margin-left: 5vw;
    }
}

@media (min-width: 800px) {
    footer {
        bottom: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 2em;
        overflow: hidden;
        margin: 0 auto;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        z-index: 999;
    }
    footer:hover {
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        height: 10em;
    }
    footer .container {
        margin-top: 5px;
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        background: #04090edb;
        border-top: solid #ffffff 2px;
    }
    footer .cont {
        position: relative;
        top: -45px;
        right: 190px;
        width: 150px;
        height: auto;
        margin: 0 auto;
    }
    .footer_center {
        width: 500px;
        float: left;
        text-align: center;
    }
    footer h3 {
        color: white;
        line-height: 43px;
        font-size: 30px;
        text-align: center;
        margin-top: 100px;
    }
}

@media (max-width: 800px) {
    footer {
        bottom: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 2em;
        overflow: hidden;
        margin: 0 auto;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        z-index: 999;
    }
    footer:active {
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        height: 10em;
    }
    footer .container {
        margin-top: 5px;
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
        background: #04090edb;
        border-top: solid #ffffff 2px;
    }
    footer .cont {
        position: relative;
        top: -45px;
        right: 190px;
        width: 150px;
        height: auto;
        margin: 0 auto;
    }
    .footer_center {
        width: 500px;
        float: left;
        text-align: center;
    }
    footer h3 {
        color: white;
        line-height: 60px;
        font-size: 6vw;
        margin-left: 20px;
        text-align: center;
        margin-top: 90px;
    }
}

.custom-shape-divider-bottom-1651260755 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1651260755 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 66px;
}